body{
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-image: url('/bg1.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}

.navigation {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h2{
  position: relative;
  left: 4%;
  text-align: left;
  font-size: 140px;
}

h3{
  position: relative;
  left: 4%;
  text-align: left;
  font-size: 50px;
}
